altair==5.5.0
pandas==2.2.3
streamlit==1.44.1
streamlit-extras==0.6.0
world-bank-data==0.1.4
matplotlib==3.10.1
numpy==2.2.4
pydeck==0.9.1
requests==2.32.3
openai==1.72.0
validators==0.34.0
plotly==6.0.1
seaborn==0.13.2
scikit-learn==1.6.1
shap==0.47.1
setuptools>=65.5.1
wheel>=0.40.0
